<div class="column is-one-quarter">
  <div class="card">
    {{!-- Add image if time --}}
  {{!-- <div class="card-image">
    <figure class="image is-4by3">
      <img src="" alt="">
    </figure>
  </div> --}}
  <div class="card-header secondary">
      <p class="card-header-title is-centered textcolor">
          {{!-- Item Name --}}
          {{name}}
      </p>
  </div>
  <div class="card-content">
    <div class="content">
        {{!-- Item description --}}
     <p>{{description}}</p>
     <p>${{price}}</p>
     <p>Amount In Stock: {{in_stock}}</p>
    </div>
  </div>
    <div class="card-footer secondary">
      {{!-- route add to cart --}}
      <button type="submit" class="card-footer-item button secondary textcolor" id="add-btn" data-item-id="{{id}}">Add to Cart</button>
      
    </div>
  </div>
</div>