
<tr>
    <td><div class="delete-btn">
            <button type="submit" class="button is-rounded is-small is-danger btnControl" id="{{id}}">-</button>
        </div></td>
<td>{{name}}</td>
<td>{{price}}</td>
<td id="amount_ordered" data="{{id}}">{{amount_ordered}}</td>
</tr>